body {
  font-family: 'lato', sans-serif;
}
  
table {
	padding-top:0px;
	margin-top:0px;
    border-collapse: collapse;
    width: 1000px;
}

#stats{
	max-height: 1000px;
}

th, td {
    text-align: left;
    padding: 8px;
	border-bottom: 1px solid #ddd;
}

/*
tr:not(:first-child):hover {
	background-color: #f5f5f5;
	transition: background-color .1s ease, color .2s ease;
}
*/

.x:hover{
	background-color: #f5f5f5;
	transition: background-color .1s ease, color .2s ease;
}

.xhead,
.x{
	width:35px;
}
button.active {
  font-weight: 400;
  background-color: #0074d9;
  color: white;
}
button {
  text-transform: capitalize;
  font-size: 13px;
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  margin-left:auto;
  margin-right: auto;
  background-color: transparent;
  padding: 5px 10px;
  outline: none;
  border-radius: 2px;
  transition: background-color .1s ease, color .2s ease;
}

td:first-child, th:first-child {
    position:sticky;
	left:0;
    background-color: white;
	border-bottom: 1px solid #ddd;

}

td:nth-child(2), th:nth-child(2) {
  position:sticky;
  left:0;
  background-color: white;
  border-bottom: 1px solid #ddd;
}
/*
th {
	padding-top: 0px;
	position:sticky;
	top:0px;
	background-color: white;
}
*/




